<template>
  <Container>
    <b-form @submit.prevent="onSubmit">
      <b-form-group id="input-group-1" label="Your name:" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="form.name"
          type="text"
          placeholder="Enter name"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-2"
      >
        <b-form-input
          id="input-2"
          v-model="form.email"
          type="email"
          placeholder="Enter email"
          required
        ></b-form-input>
        <b-form-invalid-feedback :state="!errors.email">
          {{ errors.email? errors.email.join(",") : '' }}
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group id="input-group-3" label="Password" label-for="input-2">
        <b-form-input
          id="input-3"
          v-model="form.password"
          placeholder="Enter password"
          type="password"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-4"
        label="Re-type Password"
        label-for="input-2"
      >
        <b-form-input
          id="input-4"
          v-model="form.password_confirmation"
          placeholder="Re-type password"
          type="password"
          required
        ></b-form-input>
        <b-form-invalid-feedback :state="!errors.password_confirmation">
          {{ errors?.password_confirmation }}
        </b-form-invalid-feedback>
      </b-form-group>

      <b-button type="submit" :disabled="loading" variant="primary"
        >Submit</b-button
      >
    </b-form>
  </Container>
</template>

<script>
import { mapActions } from "vuex";
import Container from "../components/Container.vue";

export default {
  name: "Register",
  components: {
    Container,
  },
  data() {
    return {
      form: {
        email: "",
        password: "",
        name: "",
        password_confirmation: "",
      },
      hasError: false,
      errors: {},
      loading: false,
    };
  },
  methods: {
    ...mapActions(["Register"]),
    async onSubmit() {
      this.loading = true;
      this.errors = {};

      if (this.form.password !== this.form.password_confirmation) {
        this.errors.password_confirmation = "Password Not Matching";
        this.loading = false;
        return;
      }

      try {
        await this.Register(this.form);

        this.notifySuccess("thank you for registering");

        this.$router.push("/todo");

      } catch (error) {
        this.errors = error.response.data.errors
        this.notifyError("oops something wrong!");
      }

      this.loading = false;
    },
  },
};
</script>

<style scoped>
</style>