<template>
  <Container>
    <b-container class="bv-example-row">
      <b-row class="justify-content-md-center">
        <b-col col lg="10">
          <b-card header-tag="header" footer-tag="footer">
            <template #header>
              <h6 class="mb-0">Todo</h6>
            </template>

            <CreateTodo @todoAdded="todoAdded" />

            <hr />

            <div class="bv-example-row">
              <b-row>
                <b-col>
                  <p>Pending</p>
                  <PendingTodos :todos="todos" />
                </b-col>
                <b-col>
                  <p>Completed</p>
                  <CompletedTodos />
                </b-col>
              </b-row>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </Container>
</template>

<script>
import Container from "../components/Container.vue";
import CreateTodo from "../components/CreateTodo.vue";
import PendingTodos from "../components/PendingTodos.vue";
import CompletedTodos from "../components/CompletedTodos.vue";
import http from "../utils/http";
export default {
  name: "Todo",
  components: {
    Container,
    CreateTodo,
    PendingTodos,
    CompletedTodos,
  },
  data() {
    return {
      todos: [],
      loading: false,
    };
  },
  methods: {
    todoAdded(event) {
      this.todos.unshift(event);
    },
    async getPendingTodos() {
      this.loading = true;
      try {
        let response = await http.get("todo", { params: { status: 0 } });
        this.todos = response.data;
      } catch (error) {
        this.notifyError("oops something wrong!");
      }

      this.loading = false;
    },
  },
  mounted() {
    this.getPendingTodos();
  },
};
</script>

<style lang="scss" scoped>
</style>