<template>
  <div>
    <div v-for="item in todos" :key="item.id">
      <TodoItem :item="item" :editable="false"/>
    </div>
  </div>
</template>

<script>
import http from "../utils/http";
import TodoItem from "./TodoItem.vue";
export default {
  name: "CompletedTodos",
  data() {
    return {
      todos : [],
    };
  },
  components: {
    TodoItem,
  },
  methods: {
    async getCompletedTodos() {
      try {
        let response = await http.get("todo", { params: { status: 1 } });
        this.todos = response.data;
      } catch (error) {
        this.notifyError("oops something wrong!");
      }
    },
  },
  mounted() {
    this.getCompletedTodos();
  },
};
</script>

<style lang="scss" scoped>
</style>