<template>
  <b-container class="bv-example-row">
    <b-row class="justify-content-md-center">
      <b-col col>
        <slot></slot>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
    name : "container",
};
</script>

<style lang="scss" scoped>
</style>