<template>
  <div>
    <b-form @submit.prevent="onSubmit">
      <b-form-group id="input-group-1" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="description"
          type="text"
          placeholder="Add todo"
          required
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" :disabled="loading" variant="primary"
        >Save</b-button
      >
    </b-form>
  </div>
</template>

<script>
import http from "../utils/http";

export default {
  name: "CreateTodo",
  data() {
    return {
      description: "",
      errors: {},
      loading: false,
    };
  },
  methods: {
    async onSubmit() {
      this.loading = true;
      try {
        let description = this.description;
        let response  = await http.post("todo", {description});

        this.$emit('todoAdded', response.data)
        this.description = ""

        this.notifySuccess("todo added successfully")
      } catch (e) {
        if (e?.response?.status === 422) {
          this.errors = e.response.data.errors
        }

        this.notifyError("oops something wrong!")
      }

      this.loading = false;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>