<template>
  <div>
    <b-modal :id="modalId" title="Edit" hide-footer>
      <b-form @submit.prevent="onSubmit">
        <b-form-group id="input-group-1" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="description"
            type="text"
            placeholder="Add todo"
            required
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" :disabled="loading" variant="primary"
          >Save</b-button
        >
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import http from "../utils/http";

export default {
  name: "EditTodoModal",
  props: {
    item: {
      type: Object,
    },
  },
  data() {
    return {
      description: this.item.description,
      loading: false,
      errrors: {},
    };
  },
  methods: {
    async onSubmit() {
      this.loading = true;
      try {
        let description = this.description;
        await http.patch(`todo/${this.item.id}`, { description });
        this.$emit("todoUpdated", description);
        this.notifySuccess("todo updated successfully")
        this.$bvModal.hide(`modal-${this.item.id}`)
      } catch (error) {
        this.notifyError("oops something wrong!");
      }
      this.loading = true;
    },
  },
  computed: {
    modalId() {
      return `modal-${this.item.id}`;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>