<template>
  <div>
    <b-navbar class="mb-5" toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand href="/">Todo App</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="/todo">Todo</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav v-if="isAuthenticated" class="ml-auto">
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <em>{{ StateUser?.name }}</em>
            </template>
            <b-dropdown-item href="#" @click.prevent="logoutUser"
              >Logout</b-dropdown-item
            >
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "NavBar",
  computed : {
    ...mapGetters(['isAuthenticated', "StateUser"])
  },    
  methods: {
    ...mapActions(["Logout"]),
    async logoutUser() {
      try {
        await this.Logout();

        this.notifySuccess("logged out in successfully");

        this.$router.push("/");

      } catch (e) {
        this.notifyError("oops something wrong!");
      }
    },
  },
};
</script>

<style scoped>
</style>