<template>
  <div>
    <div v-for="item in todos" :key="item.id">
      <TodoItem :item="item" />
    </div>
  </div>
</template>

<script>
import TodoItem from "./TodoItem.vue";

export default {
  name: "PendingTodos",
  props: {
    todos: {
      type: Array,
    },
  },
  components: {
    TodoItem,
  },
};
</script>

<style lang="scss" scoped>
</style>