<template>
  <div>
    <div v-if="editable" class="mb-1">
      <b-form-checkbox v-if="show" v-model="status" size="xs">
        <div class="bv-example-row">
          <b-row>
            <b-col>
              <div @click="showEdit">
                {{ updated ? updateDescription : item.description }}
              </div>
            </b-col>
            <b-col>
              <b-button-group>
                <b-button size="sm" @click="showEdit" variant="primary"
                  >edit</b-button
                >
                <b-button size="sm" @click="deleteTodo" variant="danger"
                  >delete</b-button
                >
              </b-button-group>
            </b-col>
          </b-row>
        </div>
      </b-form-checkbox>
    </div>
    <div v-else class="mb-1">
      <div v-if="show">
        <del> {{ item.description }} </del>
        <b-button size="sm" @click="deleteTodo" variant="danger"
          >delete</b-button
        >
      </div>
    </div>
    <EditTodoModal :item="item" @todoUpdated="todoUpdated" />
  </div>
</template>

<script>
import http from "../utils/http";
import EditTodoModal from "./EditTodoModal.vue";

export default {
  name: "TodoItem",
  props: {
    item: {
      type: Object,
    },
    editable: {
      default: true,
      type: Boolean,
    },
  },
  components: {
    EditTodoModal,
  },
  data() {
    return {
      status: false,
      show: true,
      updated: false,
      updateDescription: "",
    };
  },
  methods: {
    async deleteTodo() {
      try {
        await http.delete(`todo/${this.item.id}`);
        this.show = 0;
      } catch (error) {
        console.log(error);
        this.notifyError("oops something wrong!");
      }
    },
    showEdit() {
      this.$bvModal.show(`modal-${this.item.id}`);
    },
    todoUpdated(description) {
      this.updated = true;
      this.updateDescription = description;
    },
  },
  watch: {
    async status() {
      try {
        await http.patch(`todo/${this.item.id}`, { status: 1 });
        this.show = 0;
      } catch (error) {
        console.log(error);
        this.notifyError("oops something wrong!");
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>